html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #261A29;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items: center;
}

video,a{
    width: 100%;
    height: 100%;
    -webkit-flex:0 0 auto;
    -ms-flex:0 0 auto;
    flex: 0 0 auto;
}

div#textbox{
    width: 60em;
    -webkit-flex:0 0 auto;
    -ms-flex:0 0 auto;
    flex: 0 0 auto;
}

h1, h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-align: center;
    color: #fff;
}

h1{
    font-size: 144pt;
    margin: 0;
}
h2{
    font-size: 24pt;
}

::-webkit-scrollbar {
    display: none;
}
